.posts-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 20px;
  background-color: #d0d8e3;
}

.filter-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 1rem;
}

.middlecontent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0 0.25rem;
  box-sizing: border-box;
}

.postcontent {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.posts,
.postsfilter {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 2rem;
  width: 100%;
  margin-top: 2rem;
}
.menuitem {
  background-color: black;
}
.sortfilterOff,
.sortfilterOn {
  margin-top: 2rem;
  display: flex;
  width: 10vw;
  justify-content: center;
}

.sort-control {
  min-width: 200px; /* Increase the minimum width */
  width: 100%; /* Ensure it uses the full width available */
  max-width: 300px;
}

.reset {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem auto 0;
  width: auto;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: gray;
  cursor: pointer;
  transition: background-color 0.3s;
}

.reset:hover {
  background-color: #666;
}

.pagination {
  margin: 2rem 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 820px) {
  .posts,
  .postsfilter {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }

  .filter-wrapper {
    order: -1; /* Move the filter to the top */
    margin-bottom: 1rem;
  }
  .sortfilterOff,
  .sortfilterOn {
    width: 15vw;
  }
}

@media screen and (max-width: 480px) {
  .posts,
  .postsfilter {
    grid-template-columns: 1fr;
  }
  .filter-wrapper {
    order: -1; /* Move the filter to the top */
    margin-bottom: 1rem;
  }
  .sortfilterOff,
  .sortfilterOn {
    width: 28vw;
  }
}
