/* Font Imports */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

/* Base Styles for Label */
label {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: black;
  display: block; /* Ensures it takes up the full width available */
  margin-bottom: 0.5rem; /* Spacing below the label */
  font-weight: 700; /* Bold to indicate importance */
}

.password-container {
  min-height: 100vh;
  margin-right: 20px;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.password-form {
  display: flex;
  flex-direction: column;
}

.password-form input {
  margin-bottom: 16px;
  padding: 10px;
  border-bottom: 1px solid black;
  border-radius: 4px;
  background: none;
  outline: none;
}

.error {
  color: red;
  margin-bottom: 16px;
}

.password-submit {
  background-color: #007bff; /* Vibrant green */
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  /* padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: black;
  font-size: 16px;
  cursor: pointer; */
}

.password-submit:hover {
  /* background-color: #0056b3; */
  background-color: #45a049;
}

@media (max-width: 600px) {
  .password-container {
    padding: 10px;
  }
}

/* Responsive Styles */
@media (max-width: 768px) {
  label {
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  label {
    font-size: 0.8rem;
  }
}
